In [1]:
import pandas as pd
import numpy as np

In [3]:
# Dias de permanência total 

df_DiasPerm = pd.read_excel(r'C:\Users\DuduCuco\Documents\NewDoencasRespiratorias\DoencasRespiratorias\Data\DiasPerm.xlsx')
df_DiasPerm.head()

,Mês/ano de competência,1 dia,2 dias,3 dias,4 dias,5 dias,6 dias,7 dias,8-14 dias,15-21 dias,22-28 dias,29 dias e +,Criterio
0,jan/08,213,378,303,348,450,348,399,1765,1199,704,1782,Dias Perm
1,fev/08,399,722,678,688,680,618,756,4899,2548,1827,6448,Dias Perm
2,mar/08,463,970,1383,1264,1270,1074,1204,5859,3117,2111,6692,Dias Perm
3,abr/08,515,1326,1428,1632,1695,1746,1435,7880,3503,2741,7095,Dias Perm
4,mai/08,755,1770,1977,2236,2315,2304,2534,11815,5407,3606,11186,Dias Perm

In [28]:
# Dias de permanência por hospital

df_Hosp = pd.read_excel(r'C:\Users\DuduCuco\Documents\NewDoencasRespiratorias\DoencasRespiratorias\Data\DiasPermEstabSaude.xlsx')
df_Hosp.set_index('Mês/ano de competência', inplace=True)
df_Hosp = df_Hosp.iloc[:, :-1]

Pegar a média para cada mes e fazer o indicador de ocupação max

In [38]:
maior_ocupacao = df_Hosp.max(axis=0)
maior_ocupacao

2077531 A C CAMARGO CANCER CENTER                          413
2077655 ASSOC AACD V CLEMENTINO                             56
6984649 BP HOSPITAL FILANTROPICO (DESATIVADO 03/2022)      432
2078287 CENTRO DE REFERENCIA DA SAUDE DA MULHER            634
2077957 CENTRO DE REFERENCIA E TREINAMENTO DSTAIDS SES      68
                                                          ...
2091550 INST CEMA DE OFTALMO E OTORRINO                     57
6123740 INST DO CANCER DO ESTADO DE SAO PAULO             1793
2071568 INST DO CORACAO - INCOR - HC/FMUSP                2042
2080125 INSTITUTO DO CANCER ARNALDO VIEIRA DE CARVALHO     192
2688689 SANTA CASA DE SAO PAULO                           2851
Length: 84, dtype: int64